body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1,h2, h3 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-weight: 300;
}

a {
  color: #265a86;
}

.blog_post {
  font-size: 16px;
  line-height: 24px;
}

.navigation {
  background-color: white;
}

.boxed {
  border-radius: 0;
}

.navbar-header, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: white;
  color: black;
}

.navbar-default .navbar-nav>li>a {
  color: #2e6da4;
}

.navbar-default .navbar-nav>li>a:hover {
  color: black;
}

.post_image {
  max-height: 300px;
}

.user_pic {
  margin: 0;
  height: 40px;
  border-radius: 100%;
}

.author {
  color: #ff5300;
}

.author:hover {
  color: #bb4f1a;
  text-decoration: underline;
}

.btn {
  border-radius: 10px;
}

.btn-group .btn {
  border: 1px solid gray;
  margin-bottom: 10px;
}

div.dropdown-menu.input-append {
  padding: 5px;
}

input.span2 {
  margin: 5px;
}

.dropdown-menu li a {
  cursor: pointer;
}

.btn-primary {
  background-color: rgba(0,0,0,0);
  color: #2e6da4;
  border: 2px solid #2e6da4;
}
.btn-primary:hover {

}
.btn-primary:active {
}

.btn-success {
  background-color: rgba(0,0,0,0);
  color: #277b27;
  border: 2px solid #277b27;
}

.btn-danger {
  background-color: rgba(0,0,0,0);
  color: #94221f;
  border: 2px solid #94221f;
}

.alert-danger {
  border: 1px solid #a94442;
}

.white {
  color: white;
}

.foreground {
  background: linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)),
  url(/static/images/welder.jpg) fixed center center no-repeat;
  background-size: cover;
  height: 300px;
  color: white;
  padding: 30px;
}

.foreground h1 {
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.navbar-brand {padding: 5px 20px 5px 15px; height: 70px;}
.navbar-toggle { margin-top: 20px; }
.navbar-nav {padding: 0 15px;}
.navbar-nav>li>a {height: 70px; line-height: 35px;}

/* customize border of hamburger menu button */
.navbar-default .navbar-toggle {
  border-color: rgba(0,0,0,0);
}

/* customize color and width of hamburger menu button lines */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2d5c82;
  height: 3px;
  width: 24px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #adddf1;
}

.footer_img {
  height: 80px;
}

.content {
  white-space: pre-wrap;
  word-break: keep-all; /*this stops the word breaking*/
}

pre {
  overflow: auto;
  margin-top: 10px;
}

.footer_img {
  margin-top: 100px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.form-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 25px 25px 25px;
  background-color: white;
  margin: 20px 20px;
}

.thumbnail_pic {
  height: 40px;
  border-radius: 100%;
}

.question {
  color: #37449b;
}

.answer {
  color: #d0c3c3;
  background-color: #d0c3c3;
}

.answer:hover {
  cursor: pointer;
}

.answerShow {
  color: black;
}

.post_content {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

#editor {
  background-color: white;
  border: 1px solid #ccc;
  height: 250px;
  padding: 10px;
  overflow: scroll;
  overflow-y: scroll;
  resize: none;
}

#content {
  background-color: #fafafa;
}

#posts {
  background-color: #fafafa;
  padding: 20px;
  margin-bottom: 10px;
}

div .item {
  border: 1px solid #cccccc;
  -webkit-box-shadow: -2px 7px 5px -7px rgba(194,194,194,1);
  -moz-box-shadow: -2px 7px 5px -7px rgba(194,194,194,1);
  box-shadow: -2px 7px 5px -7px rgba(194,194,194,1);
  margin: 10px;
  padding: 10px;
  background-color: white;
}

footer {
  background-color: white;
}

@media screen and (max-width:750px) {
  h1.title {
    font-size: 20px;
    margin:20px;
  }

  .white {
    margin: 5px;
  }

  .foreground {
    height: 250px;
    padding: 20px;
  }
}