{% extends "alt_base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% if message: %}
        <div class="alert alert-danger">
          {{ message }}
          <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
      {% endif %}
      <form method="POST" class="form-box" id="editForm">
        <h1 class="text-center">Add New Post :</h1>
        <div class="form-group">
          <label for="title">Title :</label>
          <input type="text" name="title" id="title" class="form-control" maxlength="120" value="{{ post.title }}">
        </div>
        <div class="form-group">
          <label for="picture">Picture URL : (optional) (only Imgur links accepted)</label>
          <input type="text" name="picture" id="picture" class="form-control" maxlength="30" value="{{ post.picture }}">
        </div>
        <div class="form-group">
          <label for="editor">Content :</label>
          <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
            <div class="btn-group">
              <a class="btn btn-format" data-format="h1">Heading</a>
              <a class="btn btn-format" data-format="h2">Sub-heading</a>
              <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
              <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
              <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
              <a class="btn btn-format" data-format="code">Code</a>
              <a class="btn btn-format" data-format="pre">Pre</a>
              <a class="btn btn-format" data-format="q">Question</a>
              <a class="btn btn-format" data-format="a">Answer</a>
            </div>
          </div>
          <div id="editor" style="font-size: 16px; font-family: 'Lato', sans-serif;" contenteditable="true">{{ post.post_content | safe }}</div>
        </div>
        <div class="form-group">
          <label for="keywords">Keywords : (for easy searching)</label>
          <input type="text" name="keywords" id="keywords" class="form-control" value="{{ post.keywords }}" maxlength="120">
        </div>
        <div id="submit" class="btn btn-primary">Save</div>
        <a class="btn btn-danger" href="">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
