{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for m in messages %}
            <br><br>
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-success"><small>{{ m }}</small><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% if message: %}
        <div class="alert alert-danger">
          {{ message }}
          <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
      {% endif %}
      <form method="POST" class="form-box" id="editForm" action="{% if edit %}{{ url_for('editPost', post_id = post.id) }}{% else %}/addpost{% endif %}">
        <h3 class="text-center"><b>Rich Text Editor</b> {% if edit %}(edit):{% else %}(add):{% endif %}</h3>
        <div class="form-group">
          <input type="text" name="title" id="title" class="form-control" maxlength="120" value="{{ post.title }}" style="font-size: 1.3em;" placeholder="Title :">
        </div>
        <div class="form-group">
          <input type="text" name="description" id="description" class="form-control" maxlength="250" value="{{ post.description }}" placeholder="Description : (optional)">
        </div>
        <div class="form-group">
          <input type="text" name="picture" id="picture" class="form-control" maxlength="200" value="{{ post.picture }}" placeholder="Picture URL : (optional) (only Imgur links accepted)">
        </div>
        <div class="form-group">
          <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size">Size&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                </ul>
            </div>
            <div class="btn-group">
              <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold" aria-hidden="true"></i></a>
              <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic" aria-hidden="true"></i></a>
              <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline" aria-hidden="true"></i></a>
            </div>
            <div class="btn-group">
              <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list" aria-hidden="true"></i></a>
              <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol" aria-hidden="true"></i></a>
              <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center" aria-hidden="true"></i></a>
              <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left" aria-hidden="true"></i></a>
            </div>
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link" aria-hidden="true"></i></a>
              <div class="dropdown-menu input-append">
                <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
                <button class="btn btn-xs" type="button">Add</button>
              </div>
              <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-scissors" aria-hidden="true"></i></a>
            </div>
            <div class="btn-group">
              <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo" aria-hidden="true"></i></a>
              <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat" aria-hidden="true"></i></a>
            </div>
          </div>
          <div id="editor" style="font-size: 16px; font-family: 'Lato', sans-serif;" contenteditable="true">{{ post.post_content | markdown('readonly') | safe }}</div>
        </div>
        <div class="form-group">
          <input type="text" name="keywords" id="keywords" class="form-control" value="{% if keywords %}{% for k in keywords %}{{ k.word }},{% endfor %}{% endif %}" maxlength="120" placeholder="Keywords / Tags : ( separate by commas )">
        </div>
        <input type="hidden" name="origin" value="rte" class="hidden">
        <div id="submit" class="btn btn-primary">Save</div>
        {% if edit %}
          <a class="btn btn-danger" id="askdelete" data-toggle="modal" data-target="#myModal">Delete</a>
        {% else %}
          <a class="btn btn-danger" href="/">Cancel</a>
        {% endif %}
      </form>
    </div>
  </div>
  </div>
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <h3>Are you sure you want to delete this post?</h3>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-postid="{{ post.id }}" id="deletepost">Delete</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
<script src="/static/js/bootstrap-wysiwyg.js"></script>
<script src="/static/js/jquery.hotkeys.js"></script>
<script>
$(function() {
    $('#editor').wysiwyg();

    // converts content to a form field to be submitted along with the rest of form and submits POST
    $('#submit').click(function() {
      content = $('#editor').html()
      $('#editForm').append('<textarea name="post_content" class="hidden">' + content + '</textarea>');
      $('#editForm').submit();
    });

    $('#deletepost').click(function() {
      var post_id = $('#deletepost').data('postid');
      $.ajax({
        url: '/deletepost/' + post_id,
        method: 'POST',
        dataType: 'json'
      }).done(function(result) {
        window.location.href = '/showuser/{{ user_logged.id }}?msg=Deleted';
        console.log('done');
      }).fail(function(e) {
        alert('Error deleting, please try again');
      });
    });
});
</script>
{% endblock %}
