{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form method="POST" class="form-box">
        <h3 class="text-center">Forgot Password</h3>
        <div class="form-group">
          <label for="email" class="sr-only">E-mail : </label>
          <input type="text" name="email" id="email" class="form-control" placeholder="Enter Account E-mail">
        </div>
        <hr>
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="/" class="btn btn-primary">Cancel</a>
      </form>
      <p class="text-center">You will be asked to follow a link to reset your password</p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for m in messages %}
            <br>
            <div class="alert alert-success">{{ m }}<a href="" class="close" data-dismiss="alert">&times;</a></div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}
