{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row foreground">
    <div class="col-md-12 text-center">
      <h1 class="title">Mindwelder</h1>
      <p>Create Blogs with Learning, Quizzing features</p><br><br>
      {% if user_logged %}
        <a href="{{ url_for('showUser', user_id = user_logged.id) }}" class="btn btn-primary btn-lg btn-front white">My Posts</a>
        <a href="/addpost" class="btn btn-success btn-lg btn-front white">Add Post</a>
      {% else %}
        <a href="/help" class="btn btn-primary btn-lg white btn-front">How it Works</a>
        <a href="/register" class="btn btn-primary btn-lg white btn-front">Signup</a>
      {% endif %}
    </div>
  </div>
</div>
<div class="container" id="posts">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for m in messages %}
            <br><br>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-success"><small>{{ m }}</small><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="row" id="posts">
    <div class="col-md-8">
      {% for post in posts %}
      <div class="item">
        <img src="{{ post.user_id | get_user_pic }}" class="thumbnail_pic">&nbsp;<span><a href="{{ url_for('showUser', user_id = post.user_id) }}" class="author">{{ post.user_id | find_username }}</a> <small class="description">- {{ post.user_id | find_description }}</small></span>
        <div class="description"><small><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date_added | standard_date }}</small></div>
        <a href="{{ url_for('showPost', post_id = post.id)}}" class="posts"><h3 class="post_title">{{ post.title }}</h3></a>
        {% if (post.picture | imgurcheck): %}
          <a href="http://imgur.com" target="_blank"><img src="{{ post.picture }}" class="img-responsive"></a>
          <small><i>imgur.com</i></small>
        {% endif %}
        <h5>{{ post.post_content | markdown | firstline | safe }}...</h5>
        <div><a href="{{ url_for('showPost', post_id = post.id)}}" class="posts description">read...</a></div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-4">
    <form method="POST" action="{{ url_for('query') }}" id="keyword_query">
      <div class="input-group item">
        <input type="text" class="form-control" placeholder="Search..." name="word" id="word">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" id="query"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
      </div>
    </form>
      <div class="item">
        <h3 class="text-center post_item">Tags / Keywords</h3>
        {% for k in keywords %}
          <a href="/showpostsbykey/{{ k.word }}" class="btn btn-primary btn-xs">{{ k.word }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br><br>
      {% if posts | length == 0 or posts | length < 10 %}
        <a href="/" class="pull-right">End of posts. Click here to go to page 1</a>
      {% else %}
        <a href="/?page={{ page_number + 1 }}" class="pull-right">More posts...</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
