{% extends "base.html" %}
{% block content %}
<div class="cover">
  <div class="cover-text">
    <h1 class="title">Mindwelder Blogs</h1>
    <p class="lead">Create Blogs with Learning, Quizzing features</p>
    {% if not user_logged %}
      <a href="/help" class="btn btn-primary btn-lg white btn-front">How it Works</a>
      <a href="/register" class="btn btn-primary btn-lg white btn-front">Signup</a>
    {% endif %}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for m in messages %}
            <br>
            {{ m | safe }}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="row" id="posts">
    <div class="col-md-8">
    <form method="POST" action="{{ url_for('query') }}" id="keyword_query">
      <div class="input-group item search">
        <span class="input-group-btn">
          <button class="btn btn-default query" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
        <input type="text" class="form-control query" placeholder="Search Posts..." name="word" id="word">
      </div>
    </form>
      {% for post in posts %}
      <div class="item">
        <img src="{{ post.user_id | get_user_pic }}" class="thumbnail_pic">&nbsp;<span><a href="{{ url_for('showUser', user_id = post.user_id) }}" class="author">{{ post.user_id | find_username }}</a> <small class="description">- {{ post.user_id | find_description }}</small></span>
        <div class="description"><small><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date_added | standard_date }}</small></div>
        <a href="{{ url_for('showPost', post_id = post.id)}}" class="posts"><h3 class="post_title">{{ post.title }}</h3></a>
        {% if (post.picture): %}
          <a href="{{ url_for('showPost', post_id = post.id)}}" target="_blank"><img src="{{ post.picture | imgurcheck}}" class="img-responsive post_image"></a>
          <small><i>Image source: imgur.com</i></small>
        {% endif %}
        <div class="front-description">{{ post.description }}</div>
        <hr>
        <div>
          <a href="{{ url_for('showPost', post_id = post.id)}}" class="btn btn-primary">READ</a>
          {% if find_test(post.post_content) %}
            <a href="{{ url_for('showPostTest', post_id = post.id)}}" class="btn btn-primary">TEST</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <div class="item">
        <h3 class="text-center post_item">Tags / Keywords</h3>
        {% for k in keywords %}
          <a href="/showpostsbykey/{{ k.word }}" class="keywords"> {{ k.word }}</a><span>&nbsp;&nbsp;</span>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br><br>
      {% if posts | length == 0 or posts | length < 10 %}
        <a href="/" class="pull-right">End of posts. Click here to go to page 1</a>
      {% else %}
        <a href="/?page={{ page_number + 1 }}" class="pull-right">More posts...</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
