{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row foreground">
    <div class="col-md-12 text-center">
      <h1 class="title">Welcome to Mindwelder Blogs!</h1>
      {% if user_logged %}
        <a href="{{ url_for('showUser', user_id = user_logged.id) }}" class="btn btn-primary btn-lg white">My Posts</a>
        <a href="/addpost" class="btn btn-success btn-lg white">Add Post</a>
      {% else %}
        <a href="/login" class="btn btn-primary btn-lg white">Login</a> or
        <a href="/register" class="btn btn-primary btn-lg white">Signup</a>
      {% endif %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for m in messages %}
            <br><br>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-danger">{{ m }}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
</div>
<div class="container" id="posts">
  <div class="row">
    <div class="col-md-12">
      <h2><i><u>Recent Posts</u> :</i></h2>
    </div>
  </div>
  <div class="row" id="posts">
    {% for post in posts %}
    <div class="col-md-6 item">
      <div class="row">
      <hr>
        <div class="col-md-8">
          <a href="{{ url_for('showPost', post_id = post.id)}}" class="posts"><h3>{{ post.title }}</h3></a>
            <h5>{{ post.post_content | firstline }}...</h5>
            <h5><i>Posted by <a href="{{ url_for('showUser', user_id = post.user_id) }}"><u>{{ post.user_id | find_username }}</u></a></i></h5>
        </div>
        <div class="col-md-4">
          {% if (post.picture | imgurcheck): %}
            <a href="http://imgur.com" target="_blank"><img src="{{ post.picture }}" class="img-responsive"></a>
            <small><i>imgur.com</i></small>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <br><br>
      {% if posts | length == 0 or posts | length < 10 %}
        <a href="/" class="pull-right">End of posts. Click here to go to page 1</a>
      {% else %}
        <a href="/?page={{ page_number + 1 }}" class="pull-right">More posts...</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
