{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">How it Works</h1>
			<p>Welcome to the Mindwelder Blogs, This is an app that facilitates self-study by making it easy to create question and answer portions
			in your blog. Every answer is counted and saved in the database, so that you can return to any post and pick up where you started. It is
			like a flashcard system but in a continous flow style.</p>
			<div class="item">
				<ol>
					<li>Add a post</li>
					<li>Edit it like a regular blog (or paste from a source (don't forget to cite source))</li>
					<li>To define a section as an answer, underline it (Style it underline or put a 'U' tag in HTML editing)</li>
					<li>The app at the moment will not define and count questions, only answers</li>
					<li>Click the (read) button to review / read the post, (test) to view it as test</li>
					<li>The answers will appear blank but underlined, if you click on it, it will be displayed</li>
					<li>Clicking the answer will toggle it, you decide to leave it on, it will be counted as a correct answer</li>
				</ol>
			</div>
			<p>We hope you find the application educational and helpful. Have fun learning!</p>
		</div>
	</div>
</div>
{% endblock %}