{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">How it Works</h1>
			<p>Welcome to the Mindwelder Blogs. We make it easy to create fill-in-the-blank type portions
			in your blog post. All you have to do is <b><u>underline</u></b> style an area of your post and it will be parsed as an answer. Every answer is counted and can be saved so that you can return to any post and pick up where you left off. It's an easy way to test yourself.</p>
			<div class="item">
			<h2>Instructions :</h2>
				<ol>
					<li>Add a post in either Rich Text mode (What you see is what you get WYSIWYG editor), or edit in HTML mode if you are comfortable with HTML markup syntax</li>
					<li>You can format the post with bold / italic (b and i tag), font-size (h1,h2,h3), insert code (pre,code), just a note that whatever you <u>underline</u> style will be marked as an answer when the post is viewed on TEST mode.</li>
					<li>To define a section as an answer, underline it (Style it underline or put a 'U' tag in HTML editing)</li>
					<li>The app at the moment will not define and count questions, only answers</li>
					<li>Click the (read) button to review / read the post, (test) to view it as test</li>
					<li>The answers will appear blank but underlined, if you click on it, it will be displayed</li>
					<li>Clicking the answer will toggle it, you decide to leave it on, it will be counted as a correct answer</li>
				</ol>
			</div>
			<p>We hope you find the application educational and helpful. Have fun learning!</p>
		</div>
	</div>
</div>
{% endblock %}