{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">How it Works</h1>
			<p class="lead">Welcome to the Mindwelder Blogs. We make it easy to create fill-in-the-blank Q &amp; A's
			in your blog posts. All you have to do is <u>underline</u> style an area of your post and you got an answer.</p>
			<hr style="border: 1px solid #cecece">
			<h2 class="text-center">Get Started :</h2>
				<ul class="instructions">
					<li>1. Add a post in either Rich Text mode (What You See Is What You Get or WYSIWYG editor), or edit in HTML mode if you are comfortable with HTML markup syntax (HTML mode gives you a lot more options but you can switch between the two editors)</li>
					<div class="row">
					<div class="col-md-6">
					<img src="/static/images/richtexteditor.jpg" class="img-responsive"><hr>
					</div></div>

					<li>2. You can format the post as bold / italic (<i>b and i tag</i>), font-size (<i>h1,h2,h3</i>), insert code (<i>pre,code</i>), add a link(<i>a tag</i>) or image(<i>img tag</i>) on the toolbar at rich text mode</li>
					<img src="/static/images/toolbar.jpg" class="img-responsive"><hr>

					<li>3. To define a section as an answer in Rich Text mode, select the text and click the U button to underline it.</li>
					<img src="/static/images/selecteditor.jpg" class="img-responsive"><hr>

					<li>4. Click <button class="btn btn-primary">READ</button> to review / read the post, <button class="btn btn-primary">TEST</button> to view it in TEST mode.</li><hr>
					<li>5. When in TEST mode the answers will appear as blank inputs <input size="5"><button class="checkAnswer"><i class="fa fa-question-circle fa-lg"></i></button> initially, if you click on the <i class="fa fa-question-circle fa-lg"></i> button while the input field is blank the answer will be displayed, giving you a chance to review the answer, otherwise whatever you typed will be checked.</li><hr>
					<li>6. If what you typed is the same as the answer(not case-sensitive) it will be marked as correct and added to the total score, otherwise its font color will turn red (then you can try again, clear the input field and click on the button to review).</li>
					<img src="/static/images/git_3.jpg" class="img-responsive"><br><img src="/static/images/git_2.jpg" class="img-responsive"><br><br>
				</ol>
			</div>
			<p class="lead text-center">We hope you find the application educational and helpful. Have fun learning!</p>
		</div>
	</div>
</div>
{% endblock %}