{% extends "base.html" %}
{% block content %}
<!-- Google Login -->
<script src="//apis.google.com/js/platform.js?onload=start"></script>

<!-- Facebook Login -->
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '1169422776499058',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });
};

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1169422776499058";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

function sendTokenToServer() {
	var access_token = FB.getAuthResponse()['accessToken'];
	console.log(access_token);
	console.log('Welcome!Fetching your information....');
	FB.api('/me', function(response) {
		console.log('Successful login for: ' + response.name);
		$.ajax({
			type: 'POST',
			url: '/fbconnect?state={{ state }}',
			processData: false,
			data: access_token,
			contentType: 'application/octet-stream; charset=utf-8',
			success: function(result) {
				if (result) {
					$('#modalBtn').trigger('click');
					$('#result').html(result);
					setTimeout(function() {
						window.location.href = "/";
					}, 3000);
				} else {
					$('#modalBtn').trigger('click');
					$('#result').html('Failed to connect to Facebook');
				}
			}
		});
	});
}
</script>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 bordered">
      <form method="POST" class="form-box" action="{{ url_for('mconnect') }}">
      <h1 class="text-center">Login</h1>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text" name="email" id="email" class="form-control" value="{{ email }}">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control">
        </div>
        <div class="checkbox">
          <label for="remember"><input type="checkbox" name="remember">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button><br>
        <p class="text-center">or</p>
        <div id="signInButton" class="text-center">
        <span class="g-signin"
          data-scope="openid email"
          data-clientid="220557527862-3oj41ohnsr4htgvtcbbohad9inrhgv8h.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
        </span>
      	</div><br>
      	<div class="text-center">
	    	<fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();" data-size="large">
	    	<a href="javascript:sendTokenToServer()" class="text-center"> Sign in</a>
	    	</fb:login-button>
    	</div>
        <br><br>
        <!-- Button trigger modal -->
					<button type="button" id="modalBtn" class="btn btn-primary btn-lg hidden" data-toggle="modal" data-target="#myModal">
					  Launch demo modal
					</button>

					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-body">
					        <h4 class="text-center"><span id="result"></span></h4>
					      </div>
					    </div>
					  </div>
					</div>
        <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <a href="" class="sub_menu">Forgot password</a><br><br>
            </div>
            <div class="col-md-6">
              <a href="/register" class="sub_menu">Signup for a free account</a>
            </div>
          </div>
        </div>
      </form>
     </div>
  </div>
</div>
<script>
function signInCallback(authResult) {
	if (authResult.code) {
		$.ajax({
			type: 'POST',
			url: '/gconnect?state={{ state }}',
			processData: false,
			data: authResult.code,
			contentType: 'application/octet-stream; charset=utf-8',
			success: function(result) {
				if (result) {
					$('#modalBtn').trigger('click');
					$('#result').html(result);
					setTimeout(function() {
						window.location.href = "/";
					}, 3000);
				} else if (authResult.error) {
					console.log('There was an error: ' + authResult.error);
				} else {
					$('#result').html('Failed to make a server-side call. Check your configuration and console.');
				}
			}
		});
	}
}
</script>
{% endblock %}