{% extends "base.html" %}
{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for m in messages %}
            <br>
            {{ m | safe }}
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form method="POST" id="signupform" class="form-box" action="{{ url_for('register') }}">
        <h1 class="text-center">Register</h1>
        <div class="form-group">
          <label for="name" class="sr-only">Username :</label>
          <input type="text" name="username" id="name" class="form-control" value="{{ username }}" placeholder="Username - first and last name">
        </div>
        <div class="form-group">
          <label for="description" class="sr-only">Description :</label>
          <input type="text" name="description" id="description" class="form-control" value="{{ description }}" placeholder="Describe yourself ( max. 100 characters )" maxlength="100">
        </div>
        <div class="form-group">
          <label for="email" class="sr-only">E-mail : </label>
          <input type="text" name="email" id="email" class="form-control" value="{{ email }}" placeholder="E-mail">
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Password :</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password - must be at least 8 characters">
        </div>
        <div class="form-group">
          <label for="verify" class="sr-only">Verify Password :</label>
          <input type="password" name="verify" id="verify" class="form-control" placeholder="Verify Password">
        </div>
        <hr>
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="/" class="btn btn-primary">Cancel</a>
      </form>
      <p class="text-center">You will be asked to confirm your email before you can log in</p>
    </div>
  </div>
</div>
{% endblock %}
