{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
        <div class="row">
          <div class="col-md-12 text-center">
            <h3>All Posts by <span class="author">{{ user.username }}</span></h3>
            {% if user.id == user_logged.id %}
              <!-- Check if viewed user is the same as logged in user -->
              <a href="/addpost" class="btn btn-success">Add new post</a>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          {% if posts %}
            {% for post in posts %}
              <div class="item">
                <h2><a href="{{ url_for('showPost', post_id = post.id) }}">{{ post.title }}</a></h2>
                <h6>{{ post.id | find_likes_sum }} likes, added - {{ post.date_added | standard_date }}</h6>
                <a href="{{ url_for('showPost', post_id = post.id) }}" class="btn btn-primary btn-xs">read</a>
                {% if post.user_id == user_logged.id %}
                    <!-- Check if viewed user is the same as logged in user -->
                    <a href="{{ url_for('editPost', post_id = post.id) }}" class="btn btn-primary btn-xs">edit</a>
                    <a class="btn btn-danger btn-xs" href="/askdelete/{{ post.id }}?mode=html">delete</a>
                    <a href="{{ url_for('showPostTest', post_id = post.id)}}" class="btn btn-success btn-xs">test</a>
                {% endif %}
                {% if post.picture %}
                  <div class="row">
                    <div class="col-md-6">
                      <a href="{{ url_for('showPost', post_id = post.id) }}"><img src="{{ post.picture }}" class="img-responsive"></a>
                      <small>Images by Imgur.com</small>
                    </div>
                  </div>
                {% endif %}
                <p>{{ post.post_content | markdown('readonly') | firstline | safe }}... </p>
              </div>
            {% endfor %}
          {% else %}
            <div class="item">
              <h4 class="text-center">No posts yet</h4>
            </div>
          {% endif %}
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
