{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/pre_style.css">
<style>
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  background-color: #e9ebee;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
  color: #2e6da4;
  right: 0;
}

#clock {
  border: 1px solid #94221f;
  padding: 15px;
  border-radius: 20px
}

#clock h3 {
  margin-left: 10px;
  display: inline;
  color: #f70505;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

#score, #total {
  color: #278859;
}
</style>
<!-- Button trigger modal -->
<button type="button" id="modalBtn" class="btn btn-primary btn-lg hidden" data-toggle="modal" data-target="#myModal">
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="text-center"><span id="result"></span></h4>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <br>
      <div class="post_content">
        <h2>{{ post.title }} <small>by <a href="{{ url_for('showUser', user_id = post.user_id) }}" class="author">{{ post.user_id | find_username }}</a></small></h2>
        <h4>{{ post.description }}</h4>
        <h6>{{ post.id | find_likes_sum }} likes, <i class="fa fa-calendar" aria-hidden="true"></i> - {{ post.date_added | standard_date }}

        {% if post.picture: %}</h6>
          <!-- Determine if post has a picture link -->
          <a href="http://imgur.com" target="_blank"><img src="{{ post.picture | imgurcheck }}" class="img-responsive post_image"></a>
          <p><i>Image by Imgur.com</i></p>
        {% endif %}

        <!-- Show filtered content -->
        <div class="blog_post">{{ post.post_content | markdown('test') | safe }}<hr></div>

      <div>
	      {% with messages = get_flashed_messages() %}
	      	{% if messages %}
	      		{% for m in messages %}
	      			{{ m | safe }}
	      		{% endfor %}
	      	{% endif %}
	      {% endwith %}
		  </div>
		</div>
  </div>
 </div>
<footer class="footer">
	<div class="container">
    <div class="test-control">
      <span id="clock" class="pull-right"></span>
  		<h3>Score : <span id="score"></span> / <span id="total"></span></h3>
      {% if user_logged %}
    		<a class="btn btn-success" id="save">Save Test</a>
    		<a class="btn btn-danger" id="reset">Reset Test</a>
      {% endif %}
    </div>
    <div class="test-message"></div>
	</div>
</footer>
<script src="/static/js/test.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script>
$(function() {
  $('pre').addClass('prettyprint');

  // start test
  test({{ post.id }}, {{ user_logged_id }})

  // start timer
  var sec = 0,
      min = 0,
      hr = 0,
      min_txt, hr_txt;
  setInterval(function() {
    sec++;
    if (sec == 61) {
      min++;
      sec = 0;
    }
    if (min == 61) {
      hr++;
      min = 0;
    }
    min_txt = min ? (min + ' min ') : '';
    hr_txt = hr ? (hr + ' hr ') : '';
    $('#clock').html('<h3>' + hr_txt + min_txt + sec + ' sec</h3>');
  }, 1000);
});
</script>
{% endblock %}
