<!doctype html>
<html lang="en">
<head>
  <title>Mindwelder Blogs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  <link rel="manifest" href="/static/images/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/static/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- fontAwesome and Google fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700|Raleway:700" rel="stylesheet">


  <!-- bootStrap css -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="/static/css/style.css">
  <style>
		html {
		  position: relative;
		  min-height: 100%;
		}
		body {
		  /* Margin bottom by footer height */
		  margin-bottom: 100px;
		  background-color: #e9ebee;
		}
		.footer {
		  position: fixed;
		  bottom: 0;
		  width: 100%;
		  /* Set the fixed height of the footer here */
		  height: 100px;
		  background-color: #f5f5f5;
		  color: #2e6da4;
		  right: 0;
		}
	</style>
</head>
<body>
  <nav class="nav navbar-default" id="nav">
    <div class="container-fluid">
      <div class="row navigation">
        <div class="col-md-8 col-md-offset-2">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/"><img src="/static/images/logo.png" class="img-responsive navbar-brand"></a>
          </div>

          <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right text-center">
              {% if user_logged: %}
                {% if user_logged.picture %}
                <li><a href="/usersettings"><img src="{{ user_logged.picture }}" class="user_pic"><strong> {{ user_logged.username }}</strong></a></li>
                {% else %}
                <li><a href="/usersettings"><i class="fa fa-user fa-lg"></i><strong> {{ user_logged.username }}</strong></a></li>
                {% endif %}
                <li><a href="/">Browse</a></li>
                <li><a href="{{ url_for('showUser', user_id = user_logged.id) }}">Posts</a></li>
                <li><a href="/gdisconnect">Logout</a></li>
                <li><a href="/help"><i class="fa fa-question-circle"></i></a></li>
              {% else: %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Signup</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
<!-- Button trigger modal -->
<button type="button" id="modalBtn" class="btn btn-primary btn-lg hidden" data-toggle="modal" data-target="#myModal">
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="text-center"><span id="result"></span></h4>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <br>
      <div class="post_content">
        <h2>{{ post.title }} <small>by <a href="{{ url_for('showUser', user_id = post.user_id) }}" class="author">{{ post.user_id | find_username }}</a></small></h2>
        <h6>{{ post.id | find_likes_sum }} likes, <i class="fa fa-calendar" aria-hidden="true"></i> - {{ post.date_added | standard_date }}

        {% if user_logged.id == post.user_id %} &nbsp;
          <!-- If the user is logged in and the owner of the post being viewed then the edit button will be displayed -->
          <span><a href="{{ url_for('editPost', post_id = post.id) }}" class="btn btn-primary btn-xs">edit / delete</a></span>
        {% endif %}

        {% if post.picture: %}</h6>
          <!-- Determine if post has a picture link -->
          <a href="http://imgur.com" target="_blank"><img src="{{ post.picture | imgurcheck }}" class="img-responsive post_image"></a>
          <p><i>Image by Imgur.com</i></p>
        {% endif %}

        <!-- Show filtered content -->
        <div class="blog_post">{{ post.post_content | markdown('test') | safe }}<hr></div>
        <div class="keywords">Tags / Keywords :
        	{% for k in keywords %}
        		{% if k %}
        			<a href="/showpostsbykey/{{ k.word }}" class="btn btn-primary btn-xs">{{ k.word }}</a>
        		{% endif %}
        	{% endfor %}
        </div><br>

      <div>
	      {% with messages = get_flashed_messages() %}
	      	{% if messages %}
	      		{% for m in messages %}
	      			<br><br><div class="alert alert-danger">{{ m }}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
	      		{% endfor %}
	      	{% endif %}
	      {% endwith %}
		  </div>
		</div>
  </div>
 </div>
<footer class="footer">
	<div class="container">
		<h3>Score : <span id="score"></span> / <span id="total"></span></h3>
		<a class="btn btn-success" id="save">Save Test</a>
		<a class="btn btn-danger" id="reset">Reset Test</a>
	</div>
	<form method="POST" action="{{ url_for('saveTest', post_id = post.id, user_id = user_logged.id) }}" id="test">
		<button type="submit" class="hidden" id="submitBtn">Submit</button>
	</form>
</footer>
</body>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- jQuery Match height -->
<script src="/static/js/jquery.matchHeight.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-85108445-1', 'auto');
ga('send', 'pageview');
</script>
<script src="/static/js/test.js"></script>
<script>
$(function() {
  test({{ post.id }}, {{ user_logged.id }})
});
</script>
</html>
