<!doctype html>
<html lang="en">
<head>
  <title>Mindwelder Blogs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  <link rel="manifest" href="/static/images/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/static/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- fontAwesome and Google fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700|Raleway:700" rel="stylesheet">


  <!-- bootStrap css -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="/static/css/style.css">
  <style>
		html {
		  position: relative;
		  min-height: 100%;
		}
		body {
		  /* Margin bottom by footer height */
		  margin-bottom: 100px;
		  background-color: #e9ebee;
		}
		.footer {
		  position: fixed;
		  bottom: 0;
		  width: 100%;
		  /* Set the fixed height of the footer here */
		  height: 100px;
		  background-color: #f5f5f5;
		  color: #2e6da4;
		  right: 0;
		}
	</style>
</head>
<body>
  <nav class="nav navbar-default" id="nav">
    <div class="container-fluid">
      <div class="row navigation">
        <div class="col-md-8 col-md-offset-2">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/"><img src="/static/images/logo.png" class="img-responsive navbar-brand"></a>
          </div>

          <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right text-center">
              {% if user_logged: %}
                {% if user_logged.picture %}
                <li><a href="/usersettings"><img src="{{ user_logged.picture }}" class="user_pic"><strong> {{ user_logged.username }}</strong></a></li>
                {% else %}
                <li><a href="/usersettings"><i class="fa fa-user fa-lg"></i><strong> {{ user_logged.username }}</strong></a></li>
                {% endif %}
                <li><a href="/">Browse</a></li>
                <li><a href="{{ url_for('showUser', user_id = user_logged.id) }}">Posts</a></li>
                <li><a href="/gdisconnect">Logout</a></li>
                <li><a href="/help"><i class="fa fa-question-circle"></i></a></li>
              {% else: %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Signup</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
<!-- Button trigger modal -->
<button type="button" id="modalBtn" class="btn btn-primary btn-lg hidden" data-toggle="modal" data-target="#myModal">
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="text-center"><span id="result"></span></h4>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <br>
      <div class="post_content">
        <h2>{{ post.title }} <small>by <a href="{{ url_for('showUser', user_id = post.user_id) }}" class="author">{{ post.user_id | find_username }}</a></small></h2>
        <h6>{{ post.id | find_likes_sum }} likes, <i class="fa fa-calendar" aria-hidden="true"></i> - {{ post.date_added | standard_date }}

        {% if user_logged.id == post.user_id %} &nbsp;
          <!-- If the user is logged in and the owner of the post being viewed then the edit button will be displayed -->
          <span><a href="{{ url_for('editPost', post_id = post.id) }}" class="btn btn-primary btn-xs">edit / delete</a></span>
        {% endif %}

        {% if post.picture: %}</h6>
          <!-- Determine if post has a picture link -->
          <a href="http://imgur.com" target="_blank"><img src="{{ post.picture | imgurcheck }}" class="img-responsive post_image"></a>
          <p><i>Image by Imgur.com</i></p>
        {% endif %}

        <!-- Show filtered content -->
        <div class="blog_post">{{ post.post_content | markdown('test') | safe }}<hr></div>
        <div class="keywords">Tags / Keywords :
        	{% for k in keywords %}
        		{% if k %}
        			<a href="/showpostsbykey/{{ k.word }}" class="btn btn-primary btn-xs">{{ k.word }}</a>
        		{% endif %}
        	{% endfor %}
        </div><br>

      <div>
	      {% with messages = get_flashed_messages() %}
	      	{% if messages %}
	      		{% for m in messages %}
	      			<br><br><div class="alert alert-danger">{{ m }}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
	      		{% endfor %}
	      	{% endif %}
	      {% endwith %}
		  </div>
		</div>
  </div>
 </div>
<footer class="footer">
	<div class="container">
		<h3>Score : <span id="score"></span> / <span id="total"></span></h3>
		<a class="btn btn-success" id="save">Save Test</a>
		<a class="btn btn-danger" id="reset">Reset Test</a>
	</div>
	<form method="POST" action="{{ url_for('saveTest', post_id = post.id, user_id = user_logged.id) }}" id="test">
		<button type="submit" class="hidden" id="submitBtn">Submit</button>
	</form>
</footer>
</body>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- jQuery Match height -->
<script src="/static/js/jquery.matchHeight.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-85108445-1', 'auto');
ga('send', 'pageview');

$(function() {
	var answers = [], // array of all answers
			correct = [], // array of unique_id's listed as correct
			answer_db_ids = [], // array of database id's
			answer = $('span.answer'), // nodeList of answers
			save = $('#save'), // save button
			total = $('#total'),
			score = $('#score'),
			reset = $('#reset');

	// Warn if overriding existing method
	if(Array.prototype.equals)
	    console.warn("Overriding existing Array.prototype.equals. Possible causes: New API defines the method, there's a framework conflict or you've got double inclusions in your code.");
	// attach the .equals method to Array's prototype to call it on any array
	Array.prototype.equals = function (array) {
	    // if the other array is a falsy value, return
	    if (!array)
	        return false;

	    // compare lengths - can save a lot of time 
	    if (this.length != array.length)
	        return false;

	    for (var i = 0, l=this.length; i < l; i++) {
	        // Check if we have nested arrays
	        if (this[i] instanceof Array && array[i] instanceof Array) {
	            // recurse into the nested arrays
	            if (!this[i].equals(array[i]))
	                return false;       
	        }           
	        else if (this[i] != array[i]) { 
	            // Warning - two different object instances will never be equal: {x:20} != {x:20}
	            return false;   
	        }           
	    }       
	    return true;
	}
	
	answer.each(function(index) {
		// add an id to each answer
		$(this).attr('id', ('id_' + index.toString()));

		// create array of blank answers with val = 0 as default
		var text = $(this).text();
		var val = 'id_' + index.toString() + ',0,' + text;
		answers.push(val)
	});

	// initialize scoreboard
	score.text(correct.length);
	total.text(answers.length);

	$.ajax(
		{
			url: '/showpost_test/{{ post.id }}/json',
		}).done(function(data) {
			$.each(data, function(key, results) {
				if (results) {
					var answers_db = [];
					var comparison = [];
					results.forEach(function(x) {
						// save id to answer_db_ids
						var id = x['id'];
						var a = x['answer'];
						var b = a.split('##');
						console.log('This is b');
						console.log(b);
						var c = b[1].split(',');
						// make default 0
						c[1] = '0';
						console.log(c);
						var d = c.join(',');
						answers_db.push(a);
						comparison.push(d);
						answer_db_ids.push(id);
					});
					console.log('Answer IDs already in the database');
					console.log(answer_db_ids);

					// check if the default array would equal a default array
					// ( 0 status ) saved from the database
					console.log('Answers :')
					console.log(answers);
					console.log('Comparison :')
					console.log(comparison);
					var check_array = answers.equals(comparison);
					if (check_array) {
						// collect correct answers and mark them in the html
						answers_db.forEach(function(data) {
							var id_split = data.split('##');
							var data_split = id_split[1].split(',');
							var unique_id = data_split[0];
							var status = data_split[1];
							if (status == '1') {
								correct.push(unique_id);
								$('#' + unique_id).toggleClass('answerShow');
							}
						});
						score.text(correct.length);
					} else {
						// flash a message that the post has changed and
						// all the saved data will be deleted
						$('#result').html('Sorry, the Post was altered significantly by the author, all your previous progress will be deleted');
						$('#modalBtn').trigger('click');
						// $.ajax({
						// 	type: 'POST',
						// 	url: "{{ url_for('deleteTest', post_id = post.id, user_id = user_logged.id) }}",
						// 	success: function(result) {
						// 		setTimeout(function() {
						// 			location.reload();
						// 		}, 3000);
						// 	}
						// });
					}
				} else { 
					// no results
				}
			});
	}).fail(function() {
		$('#result').html('You have started a new Test, click Save Test to save your progress.');
		$('#modalBtn').trigger('click');
		score.text(correct.length);
	});

	answer.click(function() {
		// toggle CSS visibility
		$(this).toggleClass('answerShow');

		// look for id in array 'correct'
		var unique_id = $(this).attr('id');

		var text = $(this).text();
		var index = correct.indexOf(unique_id);
		if (index == -1) {
			correct.push(unique_id);
		} else {
			correct.splice(index, 1);
		}
		console.log('Correct is :');
		console.log(correct);
		score.text(correct.length);
	});

	reset.click(function() {
		$.ajax({
			type: 'POST',
			url: "{{ url_for('deleteTest', post_id = post.id, user_id = user_logged.id) }}",
			data: JSON.stringify(['{{ post.id }}', '{{ user_logged.id }}']),
			contentType: 'application/json; charset=utf-8',
			success: function(result) {
				$('#result').html(result);
				$('#modalBtn').trigger('click');
				setTimeout(function() {
					location.reload();
				}, 3000);
			},
			error: function(result) {
				$('#result').html('Error deleting progress:' + result);
				$('#modalBtn').trigger('click');
				setTimeout(function() {
					location.reload();
				}, 3000);
			}
		});
	});

	save.click(function() {
		// send POST data
		// 'values' array will hold all saved answers with boolean
		var values = [];
		// default url is for adding a new test
		var url = "{{ url_for('saveTest', post_id = post.id, user_id = user_logged.id) }}";

		if (answer_db_ids.length === 0) {
			// no database id's found, this means the data is new

			answers.forEach(function(data, index) {
				var unique_id = 'id_' + index.toString(),
						val = '1';
				var check = correct.indexOf(unique_id);
				// check if the answer is marked correct
				// in the 'correct' array, then set value
				if (check == -1) {
					val = '0';
				}
				var split_data = data.split(',');
				split_data[1] = val;
				var combined_data = '0##' + split_data.join(',');
				// save with default database id value of 0
				values.push(combined_data);
			});
		} else {
			// existing database id's, submit different form
			answers.forEach(function(data, index) {
				var unique_id = 'id_' + index.toString(),
						val = '1',
						value;
				var check = correct.indexOf(unique_id);
				if (check == -1) {
					val = '0';
				}
				var split_data = data.split(',');
				split_data[1] = val;
				var combined_data = split_data.join(',');
				value = answer_db_ids[index] + '##' 
					+ combined_data;

				values.push(value);
			});
			url = "{{ url_for('updateTest', post_id = post.id, user_id = user_logged.id) }}";
		}
		console.log('This will be saved');
		console.log(values);
		$.ajax({
			url: url,
			type: 'POST',
			data: JSON.stringify(values),
			contentType: 'application/json; charset=utf-8',
			success: function(result) {
				$('#result').html(result);
				$('#modalBtn').trigger('click');
				setTimeout(function() {
					location.reload();
					$('#result').html(result);
					$('#modalBtn').trigger('click');
				}, 3000);
			},
			error: function(result) {
				$('#result').html(result);
				$('#modalBtn').trigger('click');
				setTimeout(function() {
					location.reload();
				}, 3000);
			}
		});
	});
});
</script>
</html>