{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <br>
      <div class="post_content">
        <h2>{{ post.title }} <small>by <a href="{{ url_for('showUser', user_id = post.user_id) }}" class="author">{{ post.user_id | find_username }}</a></small></h2>
        <h4>{{ post.description }}</h4>
        <h6>{{ post.id | find_likes_sum }} likes, <i class="fa fa-calendar" aria-hidden="true"></i> - {{ post.date_added | standard_date }}

        {% if user_logged.id == post.user_id %} &nbsp;
          <!-- If the user is logged in and the owner of the post being viewed then the edit button will be displayed -->
          <span><a href="{{ url_for('editPost', post_id = post.id) }}" class="btn btn-primary btn-sm">Rich Text Editor</a>
          <a href="/editpost/{{ post.id }}?mode=html" class="btn btn-primary btn-sm">HTML Editor</a>
          <a class="btn btn-danger btn-sm" href="/askdelete/{{ post.id }}?mode=html">Delete</a>
          </span>
        {% endif %}
        <a href="{{ url_for('showPostTest', post_id = post.id)}}" class="btn btn-success btn-sm">Take Test</a>

        {% if post.picture %}</h6>
          <!-- Determine if post has a picture link -->
          <a href="http://imgur.com" target="_blank"><img src="{{ post.picture | imgurcheck }}" class="img-responsive post_image"></a>
          <p><i>Image by Imgur.com</i></p>
        {% endif %}

        <!-- Show filtered content -->
        <div class="blog_post">{{ post.post_content | markdown('readonly') | safe }}<hr></div>
        <div>Tags / Keywords :
        	{% for k in keywords %}
        		{% if k %}
        			<a href="/showpostsbykey/{{ k.word }}" class="keywords">{{ k.word }}</a>
        		{% endif %}
        	{% endfor %}
        </div><br>

      <div id="likes">
	      {% if user_logged: %}
	        <form method="POST" action="{{ url_for('likePost', post_id = post.id) }}" style="display: inline;" id="liker">
	        </form>
	        <button type="submit" class="btn btn-success circle" id="likeBtn"><span id="likeCounter">{{ post.id | find_likes_sum }}</span> <i class="fa fa-thumbs-o-up"></i></button>
	      {% else: %}
	        {{ post.id | find_likes_sum }} <i class="fa fa-thumbs-o-up fa-lg"></i> Likes
	      {% endif %}

	      {% with messages = get_flashed_messages() %}
	      	{% if messages %}
	      		{% for m in messages %}
	      			<br><br><div class="alert alert-danger">{{ m }}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
	      		{% endfor %}
	      	{% endif %}
	      {% endwith %}

	      {% if message: %}
	        <br><br>
	        <div class="alert alert-danger">{{ message }}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
	      {% endif %}
	      <div id="errorMsg"></div>
		  </div>


      <div class="row" id="comments">
	    <div class="col-md-6 col-md-offset-3">
	      {% if user_logged: %}
	        {% if comment: %}
	        <h4 class="center">Edit Comment :</h4>
	        <form method="POST" action="{{ url_for('editComment', post_id = post.id, comment_id = comment.id) }}">
	          <div class="form-group">
	            <textarea rows="3" type="text" class="form-control" name="content" placeholder="content">{{ comment.content }}</textarea>
	          </div>
	          <div class="btn-group">
	            <button type="submit" class="btn btn-success">Submit</button>
	            <label for="delete" class="btn btn-danger">Delete</label>
	          </div>
	        </form>
	        <form method="POST" action="{{ url_for('deleteComment', post_id = post.id, comment_id = comment.id) }}">
	          <input class="hidden" type="submit" id="delete">
	        </form>
	        {% else: %}
	        <h4 class="center">Comments :</h4>
	        <form method="POST" action="{{ url_for('addComment', post_id = post.id) }}">
	          <div class="form-group">
	            <textarea rows="3" name="content" class="form-control"></textarea>
	          </div>
	          <input type="hidden" name="post_id" value="{{ post.id }}">
	          <button type="submit" class="btn btn-primary">Submit</button><br>
	          <br>
	        </form>
	        {% endif %}
	      {% else: %}
	      	<hr>
	        <p>( <a href="/login"><u>Login</u></a> to post a comment or like )</p>
	      {% endif %}
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-6 col-md-offset-3">
	      <br>
	      {% if not comments: %}
	        <p>( No Comments )</p>
	      {% endif %}

	      {% for c in comments: %}
	      	<p class="comment">{% for line in c.content.splitlines() %}{{ line }}<br>{% endfor %}</p>
	      	{% if c.user_id == user_logged.id: %}
	            <h5><i>posted by <strong>{{ c.user_id | find_username }} - {{ c.date_added | standard_date }}</strong></i><br><br>
	              ( <a href="/showpostcomment/{{ post.id }}/{{ c.id }}#comments"><u>Edit/Delete</u></a> )
	            </h5><br>
	          {% else: %}
	            <h5><i>posted by <strong>{{ c.user_id | find_username }} - {{ c.date_added | standard_date }}</strong></i></h5><br><hr>
	          {% endif %}
	      {% endfor %}
	      </div>
	    </div>
	  </div>
	</div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
{% block scripts %}
 <script>
 $(function() {
 	$('#likeBtn').click(function(x) {
	 	var liker = $('#liker');
	 	$.ajax(
		 	{
		 		url: '{{ url_for('likePostJson', post_id = post.id) }}',
		 		method: 'POST'
		}).done(function(result) {
			// liked post, increment number in like counter
			var current_count = parseInt($('#likeCounter').text());
			$('#likeCounter').html(current_count + 1);
		}).fail(function(error) {
			// post was already liked, display error msg
			$('#errorMsg').html('<br><br><div class="alert alert-danger">' + error.responseJSON + '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>')
		});
	 });
 });
 </script>
 {% endblock %}
{% endblock %}
